node_modules
.next
out
.git
.gitignore
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
README.md
*.md
.vscode
.idea
.DS_Store
Dockerfile
.dockerignore
coverage
.eslintcache
