fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-multipart
cloudinary
httpx
python-dotenv
bcrypt
pydantic[email]
pinecone
groq
llama-index
camelot-py[base]
ghostscript
python-jose[cryptography]
stripe
